* {
  box-sizing: border-box;
}

body {

  background: url('https://images.unsplash.com/photo-1649101052591-55a6e14b74db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDMxOXxpVUlzblZ0akIwWXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60');

  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0px;
}


.calendar,
.welcome-user,
.welcome-message, .navBtn {
  display: flex;
  justify-content: center;
}

.welcome-user {
  font-size: 20px;

}

.dashboard {
  height: 50vh;
  overflow-y: scroll;
  background-color: transparent;
}

.bookings {
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  margin: 5%;
}

.apology-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.login {
  display: flex;
  justify-content: center;
}

.user-login-section {
  display: flex;
  justify-content: center;
}

input {
  border: 3px solid black;
  border-radius: 10px;
}


.login-btn,
#book-now-btn {
  border: 3px solid black;
  border-radius: 10px;
}

.hidden {
  display: none;
}
