body {
  background: url('https://images.unsplash.com/photo-1649101052591-55a6e14b74db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDMxOXxpVUlzblZ0akIwWXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60');

  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0px;
}

.main-dash {
  background: #8D8780;
}

.welcome-user,
.welcome-message, .navBtn {
  display: flex;
  justify-content: center;
}

#book-now-btn {
  border: 3px solid black;
  border-radius: 10px;
}
